<div class="container extra-margin" *ngIf="dataLoaded | async">
    <table class="table table-striped table-hover table-borderless table-sm">
        <thead>
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <br>
        <tbody>
            <tr>
                <th>Name:</th>
                <td>{{item.name}}</td>
            </tr>
            <tr>
                <th>ID:</th>
                <td>{{item.id}}</td>
            </tr>
            <tr>
                <th>Type:</th>
                <td>{{type.name}}</td>
            </tr>
            <tr>
                <th>Type ID:</th>
                <td>{{item.typeId}}</td>
            </tr>
            <br>
            <tr *ngFor="let st of type.structure, let i = index">
                <th>{{st.name}}</th>
                <td>{{getInfo(st.name)}}</td>
            </tr>
        </tbody>
    </table>
</div>